@model IEnumerable<WebMVCdp.Models.Multiplex>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Multi_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Mname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Multi_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Mname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Multi_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Multi_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Multi_id })
        </td>
    </tr>
}

</table>
