@model IEnumerable<WebMVCdp.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealeseDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealeseDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Movie_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Movie_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Movie_id })
        </td>
    </tr>
}

</table>
